<a href="https://colab.research.google.com/github/Muhammad-Moeed/Python-Batch1-QIT-/blob/main/class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
a = 'string'  #string
a = '18'
b = 9 #intiger
c = 1J #Complex
x = ['banana','apple'] #List
y = ('banna','apple') #Tuple
print(a,b,c,x,y)

18 9 1j ['banana', 'apple'] ('banna', 'apple')

In [20]:
print(type (a))
print(type (b))
print(type (c))
print(type (x))
print(type (y))
z = True #Bool
print(type (z))

<class 'str'>
<class 'int'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'bool'>

In [22]:
firstName  = 'Muhammad' # Camel Case
LastName = 'Moeed' # Pascal Case
Course_Duration = '2 motnh' # Snake Case

In [26]:
a,b = 'Hello','Pakistan'
print(a,b)
d=e=f = 'Hello'
print(d,e,f)

Hello Pakistan
Hello Hello Hello

In [32]:
list1 = ['string','true','int']
x,y,z = list1 #unpacking
print(list1)
print(x)
print(y)
print(z)

['string', 'true', 'int']
string
true
int

In [35]:
#Concatination
print(x+y+z)

print(x,y,z)

stringtrueint
string true int

In [38]:
string = 'pakistan'
num1 = 8
num2 = 10
print(num1+num2)

18